@font-face {
  font-family: "iranyekan";
  font-style: normal;
  font-weight: bold;
  src: url("../fonts/iranyekan/eot/iranyekanwebboldfanum.eot");
  src: url("../fonts/iranyekan/eot/iranyekanwebboldfanum.eot?#iefix")
      format("embedded-opentype"),
    url("../fonts/iranyekan/woff/iranyekanwebboldfanum.woff") format("woff"),
    url("../fonts/iranyekan/ttf/iranyekanwebboldfanum.ttf") format("truetype");
}

@font-face {
  font-family: "iranyekan";
  font-style: normal;
  font-weight: normal;
  src: url("../fonts/iranyekan/eot/iranyekanwebregularfanum.eot");
  src: url("../fonts/iranyekan/eot/iranyekanwebregularfanum.eot?#iefix")
      format("embedded-opentype"),
    url("../fonts/iranyekan/woff/iranyekanwebregularfanum.woff") format("woff"),
    url("../fonts/iranyekan/ttf/iranyekanwebregularfanum.ttf")
      format("truetype");
}

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: "iranyekan";
  direction: rtl;
  text-align: right;
}

body {
  font-size: 13px;
}

.footer-container {
  background: #0062f5;
}

.text-underline {
  width: fit-content;
  padding-bottom: 8px;
  position: relative;
}
.text-underline:after {
  position: absolute;
  content: "";
  display: block;
  width: 100%;
  height: 3px;
  border-radius: 2px;
  background: #61a0ff;
  right: 0px;
  bottom: 0px;
}

.contact-ul-style {
  list-style-type: none;
  padding-bottom: 10px;
}
