@font-face {
  font-family: "iranyekan";
  font-style: normal;
  font-weight: bold;
  src: url("../fonts/iranyekan/eot/iranyekanwebboldfanum.eot");
  src: url("../fonts/iranyekan/eot/iranyekanwebboldfanum.eot?#iefix")
      format("embedded-opentype"),
    url("../fonts/iranyekan/woff/iranyekanwebboldfanum.woff") format("woff"),
    url("../fonts/iranyekan/ttf/iranyekanwebboldfanum.ttf") format("truetype");
}

@font-face {
  font-family: "iranyekan";
  font-style: normal;
  font-weight: normal;
  src: url("../fonts/iranyekan/eot/iranyekanwebregularfanum.eot");
  src: url("../fonts/iranyekan/eot/iranyekanwebregularfanum.eot?#iefix")
      format("embedded-opentype"),
    url("../fonts/iranyekan/woff/iranyekanwebregularfanum.woff") format("woff"),
    url("../fonts/iranyekan/ttf/iranyekanwebregularfanum.ttf")
      format("truetype");
}

$main-blue-color: #0062f5;

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: "iranyekan";
  direction: rtl;
  text-align: right;
}

body {
  font-size: 13px;
  background: #D8D8D8;
}

.menu-header{
  background: #FBFBFB;
}

.main-menu-ul {
  font-size: 12px;
 
  .nav-item .active {
    color: $main-blue-color;
  }
  .nav-item a {
    text-decoration: none;
    color: inherit;
  }
}

.category {
  position: relative;
  z-index: 1;
  background: white;
  margin-top: -100px;
  .nav-pills .nav-link{
    color: black;
    .img-icon{
      width: 60px;
      height: 60px;
      img{
        max-width: 100%;
        height: auto;
      }
    }
  }
  .nav-pills .nav-link.active{
    background-color: transparent;
    color:$main-blue-color;
  }
  .nav-item span {
    display: block;
    margin-top: 15px;
    
  }
}



